MuleESB/salesservices/src/main/app/salesservices.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:jersey="http://www.mulesoft.org/schema/mule/jersey"
	xmlns:ajax="http://www.mulesoft.org/schema/mule/ajax" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.2"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ajax http://www.mulesoft.org/schema/mule/ajax/current/mule-ajax.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/jersey http://www.mulesoft.org/schema/mule/jersey/current/mule-jersey.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd">


    <flow name="SendOrderToSalesCenter" doc:name="SendOrderToSalesCenter">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8082" doc:name="Call SalesCenter Service"/>
        <http:outbound-endpoint exchange-pattern="request-response" method="POST" address="http://localhost:8083/SalesCenter-Web/rest/order/register/" doc:name="HTTP"/>
        <set-variable variableName="orderNumber" value="#[message.payload]" doc:name="Receive Order Number"/>
        <echo-component doc:name="Echo"/>


        <scripting:transformer doc:name="Generate UUID for Request">
            <scripting:script engine="Groovy"><![CDATA[UUID.randomUUID().toString()]]></scripting:script>
        </scripting:transformer>
        <custom-transformer class="CompoundMessageResponseObject" doc:name="Java"/>
        <echo-component doc:name="Echo"/>
    </flow>
    <flow name="REST-Endpoint" doc:name="REST-Endpoint" doc:description="Receive sales orders by REST">
        <http:inbound-endpoint exchange-pattern="request-response"  doc:name="HTTP/REST" host="localhost" path="mule" port="8081"/>
        <jersey:resources doc:name="Receive Sales Order">
            <component class="br.com.ujr.esb.services.salesservices.ReceiveSalesOrder"/>
        </jersey:resources>
        <echo-component doc:name="Echo"/>


        <flow-ref name="SendOrderToSalesCenter" doc:name="Send Order to Sales Center"/>
        <echo-component doc:name="Echo"/>
    </flow>
</mule>
