MuleESB/salesservices/src/main/app/salesservices.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tcp="http://www.mulesoft.org/schema/mule/tcp" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:jersey="http://www.mulesoft.org/schema/mule/jersey"
	xmlns:ajax="http://www.mulesoft.org/schema/mule/ajax" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.2"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:esper="http://www.mulesoft.org/schema/mule/esper"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ajax http://www.mulesoft.org/schema/mule/ajax/current/mule-ajax.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/jersey http://www.mulesoft.org/schema/mule/jersey/current/mule-jersey.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/esper http://www.mulesoft.org/schema/mule/esper/current/mule-esper.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/tcp http://www.mulesoft.org/schema/mule/tcp/current/mule-tcp.xsd">

	<esper:config name="Esper-Config" configuration="esper-config.xml" doc:name="Esper"/>

    <spring:beans>
        <spring:bean id="jdbcDataSource" name="jdbcDataSource" class="org.enhydra.jdbc.standard.StandardDataSource" destroy-method="shutdown">
            <spring:property name="driverName" value="com.mysql.jdbc.Driver"/>
            <spring:property name="url" value="jdbc:mysql://localhost:3306/DbEvents?user=esper&amp;password=esper"/>
        </spring:bean>
    </spring:beans>
	
    <spring:beans>
        <spring:bean id="dbinitialization" name="dbInitMySQL" class="br.com.ujr.esb.services.salesservices.config.DBInitialization"/>
    </spring:beans>
    
    <db:derby-config name="MySQL_Configuration" dataSource-ref="jdbcDataSource" doc:name="MySQL Configuration"/>
    <ajax:connector name="Ajax" serverUrl="http://localhost:8089" resourceBase="src/main/resources" jsonCommented="true" doc:name="Ajax"/>
    
	<flow name="SendOrderToSalesCenter" doc:name="SendOrderToSalesCenter">
    
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="9082" doc:name="Call SalesCenter Service"/>
        <http:outbound-endpoint exchange-pattern="request-response" method="POST" address="http://localhost:8083/SalesCenter-Web/rest/order/register/" doc:name="HTTP"/>
        <json:json-to-object-transformer doc:name="JSON to Object"/>
        <component class="br.com.ujr.esb.services.salesservices.transformers.SaveOrderResponseToVariables" doc:name="Save Order Response to Variables"/>


        <scripting:transformer doc:name="Generate UUID for Request">
            <scripting:script engine="Groovy"><![CDATA[UUID.randomUUID().toString()]]></scripting:script>
        </scripting:transformer>
        
        <custom-transformer class="br.com.ujr.esb.services.salesservices.transformers.CompoundMessageResponseObject" doc:name="Build Message Response"/>
        
        <esper:send eventPayload-ref="#[payload:]" config-ref="Esper-Config" doc:name="Esper"/>
        <esper:send eventPayload-ref="#[flowVars.Order]" config-ref="Esper-Config" doc:name="Esper"/>
    </flow>
    
    
    <flow name="REST-Endpoint" doc:name="REST-Endpoint" doc:description="Receive sales orders by REST">
        <http:inbound-endpoint exchange-pattern="request-response"  doc:name="HTTP/REST" host="localhost" path="mule" port="9081"/>
        <jersey:resources doc:name="Receive Sales Order">
            <component class="br.com.ujr.esb.services.salesservices.endpoint.ReceiveSalesOrder"/>
        </jersey:resources>
        <component class="br.com.ujr.esb.services.salesservices.transformers.SaveOrderToVariable" doc:name="Save Order to Variable"/>


        <flow-ref name="SendOrderToSalesCenter" doc:name="Send Order to Sales Center"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>

    </flow>
    
    <!-- 
    <flow name="Event-Listener-Total-Order" doc:name="Event-Listener-Total-Order">
        <esper:listen statement="select  Math.round(itens.sumOf(i => i.quantity * i.product.price) * 100) / 100.00f as totalOrder from OrderPedido"/>
        <esper:listen statement="select  itens.sumOf(i => i.quantity * i.product.price) as totalOrder from OrderPedido" config-ref="Esper-Config" doc:name="Esper (Streaming)"/>
        <logger category="INFO" doc:name="Logger" level="INFO" message="Total Order: #[groovy:payload.get('totalOrder')]" />
    </flow>
     -->
    
    <!-- <flow name="Event-Listener-Average-Total-Order-60s" doc:name="Event-Listener-Average-Total-Order-60s">
        <esper:listen statement="select avg(itens.sumOf(i => i.quantity * i.product.price)) as averageTotalOrder60 from OrderPedido.win:time(60 seconds)" config-ref="Esper-Config" doc:name="Average Total Order 60 secs"/>
        <logger category="INFO" doc:name="Logger" level="INFO" message="Average Total Order Last 60 secs: #[groovy:payload.get('averageTotalOrder60')]" />
    </flow> -->
    <!-- <flow name="Event-Listener2" doc:name="Event-Listener2">
        <esper:listen statement="select customer.name from OrderPedido" config-ref="Esper-Config" doc:name="Esper (Streaming)"/>
        <logger category="INFO" doc:name="Logger" level="INFO" message="Customer: #[groovy:payload.get('customer.name')]" />
    </flow> -->
    
    <flow name="Event-Listener-Total-Order-By-City" doc:name="Event-Listener-Total-Order-By-City">
        <esper:listen statement="insert into TotalOrderByCity select distinct customer.city as city, count(*) as total from OrderPedido.win:time(1 day) group by customer.city" config-ref="Esper-Config" doc:name="Esper (Streaming)"/>
        <logger category="INFO" doc:name="Logger" level="INFO" message="City: #[groovy:payload.getCity()] #[groovy:payload.getTotal()]" />
    </flow>
    
    <flow name="Event-Listener-Total-Order" doc:name="Event-Listener-Total-Order">
        <esper:listen statement="insert into TotalOrderByTime select distinct date.getYear() as tempo, count(*) as total from OrderPedido.win:time(1 day) group by date" config-ref="Esper-Config" doc:name="Esper (Streaming)"/>
        <logger category="INFO" doc:name="Logger" level="INFO" message="Total Order: #[groovy:payload.getTempo()] #[groovy:payload.getTotal()]" />
    </flow>

    <flow name="salesservicesFlow2" doc:name="salesservicesFlow2">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8090" path="events" doc:name="HTTP"/>
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:dynamic-query><![CDATA[select * from TableTotalOrderByCityStream]]></db:dynamic-query>


        </db:select>
        <json:object-to-json-transformer doc:name="Object to JSON"/>

    </flow>
    
    
</mule>
